@import "tailwindcss";

:root {
  background-color: #13213C;
}

@font-face {
  font-family: 'lucida';
  src: url('/fonts/lucida_regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'lucida';
  src: url('/fonts/lucida_bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'lucida';
  src: url('/fonts/lucida_italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'lucida';
  src: url('/fonts/lucida_bolditalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}



@font-face {
  font-family: 'arial';
  src: url('/fonts/arial/arial-regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'arial';
  src: url('/fonts/arial/arial-italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'arial';
  src: url('/fonts/arial/arial-bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'arial';
  src: url('/fonts/arial/arial-bolditalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}







@theme  {
  --font-lucida: lucida, sans-serif;
  --font-arial: arial, sans-serif;
  --font-jost : var(--font-jost);
}
